@import "variables";
$icomoon-font-path: "/fonts" !default;
@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fchmj7');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fchmj7#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?fchmj7') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?fchmj7') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?fchmj7##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
