@import "./variables";
@import "./default";
.icon-behance {
  &:before {
    content: $icon-behance; 
  }
}
.icon-dribbble {
  &:before {
    content: $icon-dribbble; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}